<div class="main-card">
  <div class="main-card__photo">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
      height="380px"
      alt="Placeholder" />
  </div>
  <div class="main-card__titile">
    <span>12 de set 2023</span>
    <a href="">Saiu a nova versão do Angular</a>
  </div>
  <div class="main-card__description">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa eos qui
      totam nemo. Dolore officiis quod doloremque suscipit. Nihil iste dolore
      tempora libero dolorem sapiente? Maxime velit odio magnam ex.
    </p>
  </div>
</div>
