.container__secondary-card {
  width: 600px;

  display: flex;
  flex-direction: row;
  gap: 1rem;
  border-bottom: 1px solid white;
  margin-bottom: 1rem;
}

.secondary-card__photo > img {
  height: 150px;
  min-height: 150px;
  width: 300px;
}

.secondary-card__titile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.secondary-card__titile > span {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.825rem;
  color: gray;
}

.secondary-card__titile > a {
  font-size: 1.5em;
  margin-top: 0.5rem;
  font-weight: bold;
}
